<% provide(:title, "マイページ") %>
<div class="container-fluid position-absolute z-2 pb-5">
  <div class="user col-lg-8 mx-auto post_form">
    <div class="user_image">
      <%= render "shared/user_image", user: @user %>
    </div>
    <h2 class="user_name"><%= @user.name %></h2>
    <div class="follows_link">
      <%= link_to "#{@user.followings.count}フォロー", user_followings_path(@user) %>
      <%= link_to "#{@user.followers.count}フォロワー", user_followers_path(@user) %>
    </div>
    <% if @user.id == current_user.id %>
      <div class="user_link_btn mb-3">
        <%= link_to new_post_path do%>
          <i class="fa-solid fa-plus"></i>作成
        <% end %>
        <% unless @user.email == 'aaa@aaa.com' %>
          <%= link_to edit_user_registration_path do%>
            <i class="fa-solid fa-user-pen"></i>編集
          <% end %>
        <% end %>  
      </div>
    <% end %>
    <% if @user.id == current_user.id %>
      <% unless @user.email == 'aaa@aaa.com' %>
        <%= link_to unsubscribe_path, class: "unsubscribe_link" do%>
          <i class="fa-solid fa-user-slash"></i>退会する
        <% end %>
      <% end %>
    <% end %>
    <%= render "shared/follow_btn" %>
    <p class="user_introduction"><%= @user.introduction %></p>
    <ul class="post_tab">
      <li class="tab post_tab_active"><span><%= @posts.count %></span>レシピ</li>
      <li class="tab">お気に入り</li>
    </ul>
    <div class="post_content content_active">
      <% @posts.each do |post| %>
        <div class="post_photo">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.post_image.url %>
            <div class="post_text">
              <p><%= post.created_at.strftime("%Y年%m月%d日") %></p>
              <p><%= post.title %></p>
              <p><%= post.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="post_content">
      <div class="post_photo">
        <p>お気に入り</p>
      </div>
    </div>
  </div>
</div>
