<header>
  <div class="header_menu">
    <div class="header_left">
      <%= link_to  "/", class: "app_name" do%>
        My Food Diary<i class="fa-solid fa-utensils"></i>
      <% end %>
    </div>
    <div class="header_right">
      <% if user_signed_in? %>
        <div class="menu_item">
          <%= link_to user_path(current_user.id) do%>
            <i class="fa-solid fa-user fa-2x icon_color"></i>
          <% end %>
        </div>
        <div class="menu_item">
          <%= link_to destroy_user_session_path, method: :delete do%>
            <i class="fa-solid fa-right-to-bracket fa-2x icon_color"></i>
          <% end %>
        </div>
      <% else %>
        <div class="menu_item">
          <%= link_to new_user_session_path do%>
            <i class="fa-solid fa-right-to-bracket fa-2x icon_color"></i>
          <% end %>
        </div>
        <div class="menu_item">
          <%= link_to new_user_registration_path do%>
            <i class="fa-solid fa-user-plus fa-2x icon_color"></i>
          <% end %>
        </div>
        <div class="menu_item">
          <%= link_to users_guest_sign_in_path, method: :post do%>
            <i class="fa-solid fa-person-walking-arrow-right fa-2x icon_color"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</header>
