<div class="post_form mt-5">
  <%= form_with model: @post , local: true do |f| %>
    <%= render "shared/flash_error" %>
    <div class = "post_field">
      <%= f.label :title ,"料理名", class: "required" %>
      <%= f.text_field :title, placeholder: "料理名を入力", class: "post_placeholder"%>
    </div>
    <div class="post_field">
      <%= f.label :description ,"コメント" %>
      <%= f.text_field :description, placeholder: "コメントを入力"%>
    </div>
    <div class="post_field">
      <%= f.label :post_image ,"画像", class: "required mb-2" %>
      <%= f.file_field :post_image, style: 'display:none;', id: :img_field %>
      <% if @post.post_image.present? %>
        <%= image_tag @post.post_image.url, id: :img_prev, onClick: "$('#img_field').click()" %>
      <% else %>
        <%= image_tag 'noimage.png', id: :img_prev, onClick: "$('#img_field').click()" %>
      <% end %>
    </div>
    <div class="material_field">
      <p class="post_border">材料</p>
      <%= f.fields_for :materials, local: true do |t| %>
        <%= render "material_fields", f: t %>
      <% end %>
      <div id="detail-association-insertion-point-material"></div>
      <%= link_to_add_association "材料を追加", f, :materials,
        class: 'add_btn',
        data: {
          association_insertion_node: '#detail-association-insertion-point-material',
          association_insertion_method: 'append'
        }
      %>
    </div>
    <div class="procedure_field">
      <p class="post_border">作り方</p>
      <%= f.fields_for :procedures, local: true do |t| %>
        <%= render "procedure_fields", f: t %>
      <% end %>
      <div id="detail-association-insertion-point-procedure"></div>
      <%= link_to_add_association "手順を追加", f, :procedures,
        class: 'add_btn',
        data: {
          association_insertion_node: '#detail-association-insertion-point-procedure',
          association_insertion_method: 'append'
        }
      %>
    </div>
    <%= f.submit "完了する", class: "post_btn" %>
  <% end %>
</div>
