<div class="container text-center position-absolute">
  <div class="form_area col-lg-7 mx-auto mt-3 p-5 position-relative ">
    <%= image_tag 'sign_up_icon.png', class: "mb-3", size: '70' %>
    <h2 class="mb-2 form_title">SIGN-UP</h2>
    <h3 class="mb-4 form_sub_title">新規登録</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :name, autocomplete: "name", placeholder: "ニックネーム", class: "input_field" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "input_field" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "input_field" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "input_field" %>
      </div>
      <div class="flex mb-4">
        <%= f.submit "登録", class: "form_btn" %>
        <%= f.submit "ゲストログイン", class: "form_btn" %>
      </div>
    <% end %>
    <%= link_to "アカウントをお持ちの方はこちら", new_user_session_path, class: "sign_up_link" %>
  </div>
</div>
<%# 背景の読み込み %>
<%= render "shared/animated_background" %>
