<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header bg-black p-4">
      <% if user_signed_in? %>
        <p class=" bg-white"><%= current_user.name %></p>
      <% end %>
    </div>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <div class="footer bg-black p-4">
    </div>
  </body>
</html>
