<% provide(:title, "パスワード変更") %>
<div class="container text-center position-absolute">
  <div class="form_area col-lg-7 mx-auto mt-3 p-5 position-relative ">
    <%= image_tag 'sign_in_icon.png', class: "mb-3", size: '70' %>
    <h2 class="mb-2 form_title">パスワード変更</h2>
    <h3 class="mb-4 form_sub_title">入力されたメールアドレスにパスワード再設定メールを送信します</h3>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mb-4">
      <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "input_field" %>
    </div>
    <div class="flex mb-4">
      <%= f.submit "送信する", class: "form_btn" %>
    </div>
    <% end %>
    <%= link_to "ログイン画面はこちら", new_user_session_path, class: "sign_up_link" %>
  </div>
</div>
<%# 背景の読み込み %>
<%= render "shared/animated_background" %>
